[Unit]
Description=LED
Wants=sound.target
After=sound.target

[Service]
Type=idle
ExecStart=/home/pi/Riesen-Tetris/start_main.sh
ExecStop=/home/pi/Riesen-Tetris/stop_main.sh
WorkingDirectory=/home/pi/Riesen-Tetris
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tetris
Restart=on-failure
RestartSec=20
User=root
Group=root
Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=sound.target
Alias=LED.service


